@model IEnumerable<SportsBetting.Web.Models.EventActionViewModel>

@{
    ViewData["Title"] = "EditView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Mode</h1>
<div class="float-right">
    <button type="button" onclick="location.href='@Url.Action("EditView","Event")'"> Preview Mode</button>
    <br />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                EventId
            </th>
            <th>
                EventName
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OddsForFirstTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OddsForDraw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OddsForSecondTeam)
            </th>
            <th>
                EventStartDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OddsForFirstTeam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OddsForDraw)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OddsForSecondTeam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                <td>
                    <button asp-action="EditMode" asp-route-id="@item.Id">Edit</button>
                    <button asp-action="DeleteMode" asp-route-id="@item.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="float-left">
    <button type="button" onclick="location.href='@Url.Action("AddNewEventMode","Event")'"> Add New</button>
    <br />
</div>
<br />
