@model IEnumerable<SportsBetting.Web.Models.EventActionViewModel>

@{
    ViewBag.Title = "PreviewMode";
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rowcount = 1;
}

<h1>Preview Mode</h1>

<div class="float-right">
    <button type="button" onclick="location.href='@Url.Action("EditView","Event")'"> Edit Mode</button>
    <br />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                EventName
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OddsForFirstTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OddsForDraw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OddsForSecondTeam)
            </th>
            <th>
                EventStartDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="@(item.StartDate < DateTime.UtcNow ? "finished" : rowcount % 2 == 0 ? "even" : "odd")">
            <td>
                <input type="hidden" value="@item.Id" class="form-control" />
                @item.Name
            </td>
            <td>
                @item.OddsForFirstTeam
            </td>
            <td>
                @item.OddsForDraw
            </td>
            <td>
                @item.OddsForSecondTeam
            </td>
            <td>
                @item.StartDate
            </td>

        </tr>
            rowcount++;
        }
    </tbody>
</table>

@section Scripts
{
    <script src="@Url.Content("~/js/odds.js")"></script>
}