@model IEnumerable<SportsBetting.Web.Models.EventActionViewModel>

@{
    ViewBag.Title = "PreviewMode";
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<p>
    <a asp-action="AddNewEventMode" asp-controller="Event">Create New </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OddsForFirstTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OddsForDraw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OddsForSecondTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OddsForFirstTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OddsForDraw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OddsForSecondTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                <a asp-action="EditMode" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
